nav.top-nav {
    height: 122px;
    line-height: 122px;
    font-size: 48px;
}

.nav-wrapper-container {
    margin: auto;
    width: 95%;
}

.header {
    margin-bottom: 3rem;
}
.header h3 {
    width: 100%;
    border-bottom: .05rem solid #d0d0d0;
}
.header nav {
    font-size: small;
}
.header nav ul li a.nav-width {
    padding: 0 0.5rem 0 0.5rem;
}

.contents {
    font-size: small;
}
.contents .links {
    padding: 2rem 0 2rem 0;
}
.contents ul li {
    list-style-type: circle;
    margin: 0 0 5px 0;
}

.contents ul li.square {
    list-style-type: square;
    margin: 0 0 0 0;
}

.contents ul li dl,
.contents ul li dl dd {
    margin: 0 0 0 0;
}

.contents p {
    padding-left: 0.75rem;
}

.hero {
    margin-top: 130px;
    height: 60px;
    text-align: center;
}

div table caption {
    padding: 0 0 0 0;
    margin: 0 0 8px 0;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.1;
    caption-side: top;
}

div.container.product {
    margin: 3rem 0;
    height: auto;
    border: solid 1px #d0d0d0;
    background-color: #fdfdfd;
}
div.container.product > h4 {
    text-align: center;
    color: #909090;
    border-bottom: solid 1px #b0b0b0;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}
