/* User Reset */
html,
body {
    line-height: 1.8;
    font-size: 14px;
    color: #252525;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

address {
    margin-bottom: 0;
}

/* User Style */
.global-header {
    margin-bottom: 3rem;
}
.global-header .inner {
    padding: 10px 0;
    border-bottom: solid 1px #d0d0d0;
}
.brand {
    float: left;
}
.brand .navbar-brand {
    margin: 0;
}
.global-nav {
    margin-top: 0.4rem;
    float: right;
}
.global-nav .nav-width {
    font-size: 14px;
    padding: 0 0.5rem 0 0.5rem;
}

.contents {
    font-size: 14px;
}
.contents .links {
    padding: 2rem 0 2rem 0;
}
.contents ul li {
    list-style-type: circle;
    margin: 0 0 5px 0;
}

.contents ul li.square {
    list-style-type: square;
    margin: 0 0 0 0;
}

.contents ul li dl,
.contents ul li dl dd {
    margin: 0 0 0 0;
}

.section {
    padding: 30px 0;
}

.section:first-of-type {
    padding-top: 0;
}

.company-header .title,
.profile-header .title {
    font-size: 1.6rem;
}

.company-body,
.profile-body,
.company-information-body,
.publication-body {
    margin-top: 1.4rem;
}

.product {
    margin: 3rem 0;
    padding-right: 15px;
    padding-left: 15px;
    border: solid 1px #d0d0d0;
    background-color: #fdfdfd;
}
.product-header {
    padding: 4px 0;
    border-bottom: solid 1px #d0d0d0;
}

.product .title {
    line-height: 1.6;
    text-align: center;
    color: #909090;
}

.product-body {
    padding: 10px 0;
}

.company-information-header .title,
.publication-header .title {
    font-size: 1.4rem;
}

.global-footer {
    margin-top: 40px;
    padding: 20px 0 30px;
}

.global-footer .container {
    border-top: solid 1px #d0d0d0;
}

.copy {
    text-align: center;
}
