- var baseURL = 'https://co-routine.com';
- var siteName = 'coroutine inc.';
- var siteTitleDescription = '大阪を中心にWEB技術者の育成と、インターネットを用いたビジネスのサポートを行なう会社です。';
- var siteDescription = '株式会社coroutineは大阪を中心にWEB技術者の育成と、インターネットを用いたビジネスのサポートを行なう会社です。クラウドインフラの構築・運用、ウェブアプリケーションの開発を中心に受託開発しています。チームマネジメントや社内情報(ナレッジ)の共有、リモートワークに関してのサポートも行なえるため、先ずはご相談ください。';

- var image_path = '/dist/image/';
- var stylesheet_path = '/dist/stylesheet/';
- var javascript_path = '/dist/javascript/';
