section.p-home-info
  .c-container.c-container--small
    header.p-home-info__header
      h2.c-h.c-h--centered.c-h--small 夏季休業期間のお知らせ
    .p-home-info__body
      p.c-lead.c-lead--centered
        | 平素は格別のお引立てを賜り、厚く御礼申し上げます。<br>
        | 誠に勝手ながら、弊社では下記日程を夏季休業とさせて頂きます。
      p.c-lead.c-lead--centered
        | 2018年8月13日（月）～2018年8月17日（金）
      p.c-lead.c-lead--centered
        | 期間中お客様にはご不便をお掛け致しますが、何卒ご寛容くださいます様お願い申し上げます。<br>
        | 尚、期間中のお問い合わせにつきましては8月20日（月）以降にご対応させて頂きます。<br>
        | 来年も、本年同様お客様にご満足いただけるサービスの提供を目指し、<br>
        | 社員一同より一層努力して参ります。<br>
        | 今後とも変わらぬご愛顧の程、宜しくお願い申し上げます。
