extends ../_base
block config
  include ../_config
block title
  title お問い合わせ | #{siteName}
block meta
  meta(name='description', content='お問い合わせのページ。' + siteDescription)
  meta(property='og:description', content='お問い合わせのページ。' + siteDescription)
  meta(property='og:title', content='お問い合わせ | ' + siteName)
  meta(property='og:url', content=baseURL + '/contact/')

block breadcrumb
  - pageLower = { page: {label: 'お問い合わせ', path: '/contact/'} }

block body
  header.c-hero-lower
    .c-hero-lower__inner
      h1.c-h.c-h--en.c-h--centered Contact
      p.c-h.c-h--sub.c-h--centered お問い合わせ
  section.c-section
    .c-container.c-container--small
      .c-section__body
        p.c-lead.c-lead--centered
          | 株式会社 coroutine では、技術教育や技術顧問、開発のコンサルティングなどを通して<br>お客様のビジネスのサポートを行っております。
          br
          | まずは一度お気軽にご相談ください。
        .c-form
          form(name='contactform', action='thanks', netlify='')
            .c-form-item
              label.c-form-item__label-block(for="input-txt-name")
                | 名前
              input#input-txt-name(type='text', name='name', required, autofocus)
            .c-form-item
              label.c-form-item__label-block.c-form-item__label--en(for="input-txt-mail")
                | Email
              input#input-txt-mail(type='email', name='email', pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" required)
            .c-form-item
              p.c-form-item__selecter
                input#input-support-teach(type='radio', name='support', value='技術教育', required)
                label(for="input-support-teach")
                  | 技術教育
              p.c-form-item__selecter
                input#input-support-advisor(type='radio', name='support', value='技術顧問', required)
                label(for="input-support-advisor")
                  | 技術顧問
              p.c-form-item__selecter
                input#input-support-consultant(type='radio', name='support', value='ITコンサルタント・開発マネジメント', required)
                label(for="input-support-consultant")
                  | ITコンサルタント・開発マネジメント
              p.c-form-item__selecter
                input#input-support-development(type='radio', name='support', value='システム開発', required)
                label(for="input-support-development")
                  | システム開発
            .c-form-item
              label.c-form-item__label-block(for="input-textarea")
                | 現状や改善したいことについて
              textarea#input-textarea(name='message', required)
            footer.c-form__footer
              p.c-note
                | ※お問い合わせ頂いた上でお力になれそうか検討させていただきます。<br>
                | 返事をお送りするまで少しお時間をいただく場合がございます。
              .c-btn.c-btn--detail
                button(type='submit') 相談・依頼をする

