.c-brand {
  margin-top: 0.2em;
  line-height: 1;

  @include mq('medium') {
    margin-top: 0;
  }

  a {
    @include font-en;
    text-decoration: none;
    font-size: 32px;
    color: $color-primary;

    @include mq('medium') {
      font-size: 1.4rem;
    }
  }
}
