.c-btn {
  text-align: center;

  a,
  button {
    display: inline-block;
    border: 1px solid $color-primary;
    padding: 18px 36px;
    line-height: 1;
    text-decoration: none;
    font-size: $font-base-size;
    color: $font-base-color;
    transition: 0.2s $ease-out-quart 0s;

    @include mq('medium') {
      padding: 14px 32px;
    }

    &:hover {
      border: 1px solid $color-accent;
      background-color: $color-accent;
      color: #ffffff;
    }
  }

  &--gnav-contact {
    a {
      padding: 14px 28px;
      font-size: 1em;
    }
  }

  &--white {
    a {
      border: 4px solid #ffffff;
      background-color: #ffffff;

      &:hover {
        border: 4px solid #ffffff;
        background-color: transparent;
      }
    }
  }

  &--detail {
    a::after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 10px;
      height: 10px;
      margin-top: -4px;
      border-top: 2px solid $font-base-color;
      border-right: 2px solid $font-base-color;
      transform: rotate3d(0,0,1,45deg) translate3d(5px,-5px,0);
      transition: 0.2s $ease-out-quart 0s;
    }

    a:hover {
      &::after {
        border-top: 2px solid $color-base;
        border-right: 2px solid $color-base;
        transform: rotate3d(0,0,1,45deg) translate3d(10px,-10px,0);
      }
    }
  }
}
