.c-contact-lp {
  background-color: $rb-color-theme;
  padding: $base-margin * 1.8 0;

  @include mq('small') {
    padding: $base-margin * 0.8 0;
  }

  &__body {}

  &__btn {
    text-align: center;

    .c-btn {
      display: inline-block;

      a {
        width: 100%;
        line-height: 1.4;
        border: 4px solid $color-base;
        background-color: $color-base;
        font-weight: 600;
        font-size: 1.4em;

        @include mq('small') {
          font-size: 1.2em;
        }

        &:hover {
          border: 4px solid $color-base;
          background-color: transparent;
        }
      }
    }
  }
}
