.c-container {
  max-width: $document-width--xlarge;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @include mq('large') {
    max-width: $document-width--large;
  }

  @include mq('medium') {
    max-width: $document-width--medium;
  }

  @include mq('small') {
    max-width: $document-width--small;
  }

  &--medium {
    max-width: 1020px;
  }

  &--small {
    max-width: 800px;
  }
}
