.c-feature {
  &__header {
    position: relative;
    z-index: 2;

    &__num {
      display: block;
      position: absolute;
      left: -0.2em;
      top: -0.6em;
      font-weight: 800;
      font-size: 60px;
      color: rgba($font-base-color, 0.15);
    }
  }

  &__body {
    margin-top: 1.6em;
  }

  &__title.c-h {
    font-size: 23px;
  }

  &__img {
    width: 120px;
    margin-left: auto;
    margin-right: auto;

    & + * {
      margin-top: 2em;
    }
  }
}
