%hamburger-line {
  display: block;
  width: 30px;
  height: 3px;
  background-color: $color-primary;
  margin-top: 5px;
}

.c-hamburger {
  margin-top: 10px;
  padding: 0;

  @include mq('small') {
    margin-top: 5px;
  }

  span {
    @extend %hamburger-line;
  }
  &::before {
    margin-top: 0;
  }
  &::before,
  &::after {
    content: '';
    @extend %hamburger-line;
  }
}
