.c-img-list {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin: 0;

  @include mq('small') {
    flex-direction: column;
  }

  & + & {
    margin-top: 4%;
  }

  &__item {
    width: 48%;

    @include mq('small') {
      width: 100%;
    }

    & + & {
      margin-left: 4%;

      @include mq('small') {
        margin-left: 0;
        margin-top: 4%;
      }
    }

    &:hover {
      .c-card__bg::after {
        background-color: rgba(80, 80, 80, 0.5);
      }
      .c-img--scale img {
        transform: scale(1.1);
      }

      .c-bg-img--scale {
        background-size: 110%;
      }
    }
  }
}
