.c-member {
  & + & {
    margin-top: 80px;
  }

  &__header {}

  &__body {
    margin-top: 40px;
  }

  &__title {
    font-size: 2rem;
  }
}

.c-member-list {
  display: flex;
  @extend %list-reset;

  & + & {
    margin-top: 40px;
  }

  &__item {
    width: 46%;

    & + & {
      margin: 0 8%;
    }
  }
}

.c-member-info {}
