.c-member-info {
  @extend %clearfix;

  &__img {
    width: percentage(136px / 430px);
    float: right;
    opacity: 0.7;
  }

  &__desc {
    width: percentage(294px / 430px);
    float: left;

    p + p {
      margin-top: 0.6em;
    }
  }

  &__name {
    font-size: 1.6em;
  }
}
