.c-service__bnrs {
  text-align: center;

  > * + * {
    margin-top: $base-margin;
  }

  &__item {
    display: inline-block;
    border: 1px solid $color-base;
    transition: 0.2s $ease-out-quart 0s;

    &--rb {
      max-width: 780px;

      @include mq('small') {
        max-width: 320px;
      }
    }

    &:hover {
      opacity: 0.8;
    }

    img {
      width: 100%;
      cursor: pointer;
    }
  }
}
