.c-service-list {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin: 0;

  @include mq('medium') {
    flex-direction: column;
  }

  & + & {
    margin-top: $base-margin * 1.6;

    @include mq('medium') {
      margin-top: $base-margin * 1.4;
    }
  }

  &__item {
    width: 46%;

    @include mq('medium') {
      width: 100%;
    }

    & + & {
      margin-left: 8%;

      @include mq('medium') {
        margin-left: 0;
        margin-top: $base-margin * 1.4;
      }
    }

    &:nth-of-type(2n+1) {
      margin-left: 0;
    }
  }
}
