.c-service-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;

  @include mq('medium') {
    flex-direction: column;
  }

  & + & {
    margin-top: $base-margin * 1.6;

    @include mq('medium') {
      margin-top: $base-margin * 1.4;
    }
  }

  &__item {
    & + & {
      margin-top: $base-margin * 1.5;
      padding-top: $base-margin * 1.5;

      @include mq('medium') {
        margin-top: $base-margin;
        padding-top: $base-margin;
      }
    }
  }
}
