extends ../_base
block config
  include ../_config
block title
  title 会社概要 | #{siteName}
block meta
  meta(name='description', content='会社概要のページ。' + siteDescription)
  meta(property='og:description', content='会社概要のページ。' + siteDescription)
  meta(property='og:title', content='会社概要 | ' + siteName)
  meta(property='og:url', content=baseURL + '/about/')

block body
  section.c-section
    .c-container.c-container--small
      header.c-section__header
        h2.c-h.c-h--centered About
        p.c-h.c-h--sub.c-h--centered coroutineについて
      .c-section__body
        p.c-lead.c-lead--centered
          | 株式会社 coroutine では技術教育とインターネットを活用したビジネスのサポートを事業としています。
        p.c-lead.c-lead--centered
          | 代表の東川が大学での教育者として従事した後、インターネットサービスの運営事業の企業に参画し、<br>得た実務経験から、自身に出来る事は技術者の教育である事と考えた事から会社の起ち上げに至りました。
          | また、サーバサイドのアプリケーション開発、クラウドインフラの構築・運用、プロジェクトマネジメントの経験から、お客様の関心の強い事業、方面へのお手伝いが出来ればとも思っています。
        p.c-lead.c-lead--centered
          | 弊社は大阪に拠点を置いて活動を行なっていますが、リモートでの作業、ミーティング、情報共有等への経験があるため常駐させて頂く案件でなければ対応可能です。
          br
          | また、そういったワークフロー改善やチームマネジメントも対応可能です。

        section.c-section.c-section--lower
          header.c-section__header
            h3.c-h.c-h--medium.c-h--centered Company Information
            p.c-h.c-h--sub.c-h--centered 会社概要
          .c-section__body
            table.c-table
              tr
                th 商号
                td 株式会社coroutine
              tr
                th 所在地
                td
                  | 〒540-0025
                  br
                  | 大阪府大阪市中央区徳井町 1-2-9 ZERO ONE 谷町 701
              tr
                th 連絡先
                td
                  address contact@co-routine.com
              tr
                th 設立日
                td 2016年11月22日
              tr
                th 役員
                td 代表取締役 東川諒央


  include ../template/_contact
