.p-rb-section {
  background-color: $rb-color-theme;
}

.p-rb-section__title,
.p-rb-text {
  color: $color-base;
}

/* Rebuild Booster LP メンバーページ */
.p-rb-member {
  background-color: $color-secondary;
}

.p-rb-member-list {
  .c-member-list__item {
    background-color: #fff;
    border-radius: 5px;
    padding: 2%;
  }
}

.p-rb-member-list--small {
  .c-member-list__item {
    background-color: #fff;
    padding: 16px 26px;
  }
}



/**/
.p-rb-catch {
  background: gray;

  p {
    text-align: center;
    font-size: 2rem;
  }


  &--has-arrow {
    position: relative;

    &::after {
      content: '';
    }
  }
}

.p-rb-flow {
  background-color: $rb-color-theme;

  &__section {
    & + & {
      margin-top: $base-margin * 2;
    }

    .c-h + .c-step-list {
      margin-top: ($base-margin / 2);
    }
  }
}
