.p-rb-section {
  background-color: $rb-color-theme;
}

.p-rb-section__title,
.p-rb-text {
  color: $color-base;
}

/* Rebuild Booster LP メンバーページ */
.p-rb-member {
  background-color: $color-secondary;
}

.p-rb-member-list {
  .c-member-list__item {
    padding: 2%;
  }
}

.p-rb-member-list--small {
  .c-member-list__item {
    padding: 16px 26px;
  }
}

.p-rb-catch {
  padding: $base-margin;
  margin-top: $base-margin * 2;
  background: $rb-color-theme;

  p {
    text-align: center;
    font-size: 2rem;
    color: $color-base;
  }

  &--has-arrow {
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 60px 100px 0 100px;
      border-color: $rb-color-theme transparent transparent transparent;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -100px;
      margin-bottom: -60px;
    }
  }
}

.p-rb-flow {
  background-color: $rb-color-theme;

  &__section {
    & + & {
      margin-top: $base-margin * 2;
    }

    .c-h + .c-step-list {
      margin-top: ($base-margin / 2);
    }
  }
}
