.p-rb-section {
  background-color: $rb-color-theme;
}

.p-rb-section__title,
.p-rb-text {
  color: $color-base;
}

// Rebuild Booster Hero
.p-rb-hero {
  .c-hero__content {
    overflow: hidden;
  }

  &__texts__inner {
    text-align: left;

    @include mq('small') {
      text-align: center;
    }
  }

  &__title,
  &__lead {
    color: $color-base;
    position: relative;
    z-index: 1;
    transform: translate3d(-60px, 0, 0);
    opacity: 0;
    transition: 0.4s $ease-out-quart 0s;

    &.is-show {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  &__title {}
  &__lead {
    font-size: 1.2em;

    @include mq('small') {
      font-size: 0.9em;
    }
  }

  &__btn {
    margin-top: 20px;
    text-align: left;
    opacity: 0;
    transition: 0.4s $ease-out-quart 0s;
    position: relative;
    z-index: 1;

    @include mq('small') {
      text-align: center;
    }

    &.is-show {
      opacity: 1;
    }
  }

  &__symbol {
    display: block;
    width: 230px;
    height: 256.5px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: calc(-256px / 2);
    margin-left: 140px;
    transform: translate3d(-75px,75px,0);
    opacity: 0;
    transition: 0.5s $ease-out-quart 0s;
    z-index: 0;

    @include mq('small') {
      width: 165px;
      height: 128.5px;
      margin-top: -((128px + 40px) / 2);
      margin-left: -82.5px;
      transform: translate3d(-75px,75px,0);
    }

    &.is-show {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }

  .c-hero__bg {
    background-color: $rb-color-theme;

    &::after {
      content: '';
      padding-top: percentage(340px / $document-width--xlarge);

      @include mq('small') {
        padding-top: percentage(240px / $document-width--small);
      }
    }
  }
}

// Rebuild Booster メンバーエリア
.p-rb-member {}

.p-rb-member-list--small {
  .c-member-list__item {
    padding: 16px 26px;

    @include mq('small') {
      margin: 10px 0;
    }
  }
}

.p-member-small-container {
  @include mq('small') {
    padding-left: 0;
    padding-right: 0;
  }
}

.p-rb-catch {
  padding: $base-margin;
  margin-top: $base-margin * 2;
  background: $rb-color-theme;

  @include mq('small') {
    padding: $base-margin / 2.5;
    margin-top: $base-margin * 1.2;
  }

  p {
    text-align: center;
    font-size: 2rem;
    color: $color-base;

    @include mq('small') {
      font-size: 1.4rem;
    }
  }

  &--has-arrow {
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 60px 100px 0 100px;
      border-color: $rb-color-theme transparent transparent transparent;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -100px;
      margin-bottom: -60px;

      @include mq('small') {
        border-width: 30px 50px 0 50px;
        margin-left: -50px;
        margin-bottom: -30px;
      }
    }
  }
}

.p-rb-flow {
  background-color: $rb-color-theme;

  &__section {
    & + & {
      margin-top: $base-margin * 2;
    }

    .c-h + .c-step-list {
      margin-top: ($base-margin / 2);
    }
  }
}
