.p-service {
  &__service-list {
    .c-bg-img::after {
      content: '';
      padding-top: percentage(200 / 534);
    }
  }
}

.p-service__info__h {
  display: inline-block;
  border-bottom: 2px solid $color-accent;
}
