section.c-section.p-contact
  .c-container
    header.c-section__header
      h2.c-h.c-h--en.c-h--centered Contact
      p.c-h.c-h--sub.c-h--centered お問い合わせ
    .c-section__body
      p.c-lead.c-lead--centered
        | 弊社へのお問い合わせは以下からお願い致します。
        br
        | 技術教育やシステム開発のご相談など、お気軽にご相談ください。
    footer.c-section__footer
      .c-btn.c-btn--detail
        a(href="/contact/") お問い合わせはこちら
