section.c-section
  .container
    header.c-section__header
      h2.c-h.c-h--centered Contact
      p.c-h.c-h--sub.c-h--centered お問い合わせ
    .c-section__body
      p.c-lead.c-lead--centered
        | お客様の抱える技術的なお悩みを解決致します。<br>
        | まずは気軽にご相談ください。
    footer.c-section__footer
      .c-btn.c-btn--detail
        a(href="/contact/") 問い合わせる
