- var date = new Date();
- var year = date.getFullYear();
footer.c-global-footer
  .c-container
    p.c-copy
      small (c) #{year} #{siteName}

script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
script(src=javascript_path + "application.js")
