header.c-global-header
  .c-container
    .c-global-header__inner
      .c-brand
        h1.c-brand__text #{siteName}
      nav.c-global-nav
        ul.c-global-nav__list
          li.c-global-nav__list__item
            a.c-link(href='/about/') 会社概要
          li.c-global-nav__list__item
            a.c-link(href='/service/') 事業内容
      .c-contact-btn
        a.c-btn.p-contact-btn(href="/contact/") お問い合わせ
