header.global-header
  .container
    .inner.clearfix
      .brand
        h3.text-muted.navbar-brand #{siteName}
      nav.global-nav
        ul.nav
          li.nav-item
            a.nav-width(href='/about/') 会社概要
          li.nav-item
            a.nav-width(href='/service/') 事業内容
          //
            <li class="nav-item">
            <a class="nav-width" href="">ブログ</a>
            </li>
